@import url("https://fonts.cdnfonts.com/css/branden-raulner");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;700&display=swap");

$bg-image-cover: no-repeat center/cover;
$label-color: #ae81bf64;
$main-font: "Branden Raulner", sans-serif;
$primary-font: "Roboto Condensed", sans-serif;
$gradient: linear-gradient(to left, #35d08f, #e32e64);
